body{
    overflow-x: hidden;
 
}

#home{
    background-image: url('../imgs/events-heavenly-header.jpg');
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    margin-bottom: 50px;
}

.home-overlay , .duration-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(214, 46, 51, 0.6) ;
}

.home-overlay h2{
    font-weight: 650;
}

.nav-bar{
    z-index: 9999;
    top: 0;
    left: -250px;
    height: 100%;
}
.nav-bar-content{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
    overflow-x: hidden;
    width: 250px;
}

.home-overlay span{
    font-size: 30px;
    display: flex;
    align-content: center;
    cursor: pointer;
    padding-left: 20px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.nav-bar-content a{
text-decoration: none;
color: white;
display: block;
padding: 20px 20px 20px 32px;
}

.nav-bar-content a:hover{
    color: #D62E33;
}

.close{
    display: flex;
    align-content: flex-end;
    justify-content: end;
    padding: 40px 20px;
    font-size: 20px;
    
}

.close i{
    cursor: pointer;

}


.toggle-sec{
    width: 50%;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 100px;
}

.toggle-sec h3{
    text-align: center;
    background-color:#E68285 ;
    color: white;
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
}

.toggle-sec p {
    background-color: #CCCCCC;
    margin: 0;
    padding: 10px;
    display: none;
}

.duration-content{
    margin: 50px 0;
    background-image:url('../imgs/invitation-2508607__340.jpg') ;
    height: 270px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.myCountdown{
    position: relative;
    z-index: 5;
    color: White;
}


.time-box{
    border: 1px solid white;
    text-align: center;
    transform: translateY(50%);
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#contact{
    width: 90%;
    margin:100px auto;
    color: #777777;
}
#contact h2 , #contact strong{
    color: black;
}



.social-box{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.social-box:hover i{
    color: white;
}
.social-box:hover{
    background-color:#D62E33 ;
    border: 1px solid #D62E33;
}

#contact button{
    background-color: #D62E33;
    color: white;
    margin-top:20px;
} 

.text-count{
    color: #D62E33;
}